In [1]:
import pandas as pd
df = pd.read_csv('realoriginal_test2_up.csv')

In [7]:
del df['wd_plnt_nm.1']

In [8]:
df

,wd_plnt_nm,wd_plnt_idntfr,region_nm,region_type,plant_part,object_class_lclas_code,object_class_mlsft_code,object_class_sclas_code,object_class_lclas_nm,object_class_sclas_nm,woody_herbal,edible_yn,edible_part,acquisition_term,efficacy
0,메밀,9,서귀포시 안덕면 서광리,평지,꽃,2,9,2,초본,꽃,2,Y,"잎, 줄기, 꽃, 씨앗",06월,항염증|면역증진|항산화
1,메밀,9,서귀포시 안덕면 서광리,평지,꽃,2,9,2,초본,꽃,2,Y,"잎, 줄기, 꽃, 씨앗",06월,항염증|면역증진|항산화
2,메밀,9,서귀포시 안덕면 서광리,평지,꽃,2,9,2,초본,꽃,2,Y,"잎, 줄기, 꽃, 씨앗",06월,항염증|면역증진|항산화
3,메밀,9,서귀포시 안덕면 서광리,평지,꽃,2,9,2,초본,꽃,2,Y,"잎, 줄기, 꽃, 씨앗",06월,항염증|면역증진|항산화
4,메밀,9,서귀포시 안덕면 서광리,평지,꽃,2,9,2,초본,꽃,2,Y,"잎, 줄기, 꽃, 씨앗",06월,항염증|면역증진|항산화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,메밀,9,성산,평지,잎-뒷면,2,9,5,초본,잎-뒷면,2,Y,"잎, 줄기, 꽃, 씨앗",10월,항염증|면역증진|항산화
10123,메밀,9,성산,평지,잎-뒷면,2,9,5,초본,잎-뒷면,2,Y,"잎, 줄기, 꽃, 씨앗",10월,항염증|면역증진|항산화
10124,메밀,9,성산,평지,잎-뒷면,2,9,5,초본,잎-뒷면,2,Y,"잎, 줄기, 꽃, 씨앗",10월,항염증|면역증진|항산화
10125,메밀,9,성산,평지,잎-뒷면,2,9,5,초본,잎-뒷면,2,Y,"잎, 줄기, 꽃, 씨앗",10월,항염증|면역증진|항산화
10126,메밀,9,성산,평지,잎-뒷면,2,9,5,초본,잎-뒷면,2,Y,"잎, 줄기, 꽃, 씨앗",10월,항염증|면역증진|항산화

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   wd_plnt_nm               10127 non-null  int8
 1   wd_plnt_idntfr           10127 non-null  int64
 2   region_nm                10127 non-null  int64
 3   region_type              10127 non-null  int64
 4   plant_part               10127 non-null  int64
 5   object_class_lclas_code  10127 non-null  int64
 6   object_class_mlsft_code  10127 non-null  uint8
 7   object_class_sclas_code  10127 non-null  uint8
 8   object_class_lclas_nm    10127 non-null  uint8
 9   object_class_sclas_nm    10127 non-null  uint8
 10  woody_herbal             10127 non-null  uint8
 11  edible_yn                10127 non-null  uint8
 12  edible_part              10127 non-null  uint8
 13  acquisition_term         10127 non-null  uint8
 14  efficacy                 10127 non-null  uint8
dtypes: int64(5), int8(1), uint8(9)
memory usage: 494.6 KB

In [ ]:
# df['wd_plnt_nm']+df['wd_plnt_idntfr']

In [10]:
# df.iloc[:,1:]=pd.get_dummies(df.iloc[:,1:])

In [11]:
df.iloc[:,1:].shape

(10127, 14)

In [28]:
df

,wd_plnt_nm,wd_plnt_idntfr,region_nm,region_type,plant_part,object_class_lclas_code,object_class_mlsft_code,object_class_sclas_code,object_class_lclas_nm,object_class_sclas_nm,woody_herbal,edible_yn,edible_part,acquisition_term,efficacy
0,4,9,2,9,2,2,0,0,0,0,1,0,0,0,0
1,4,9,2,9,2,2,0,0,0,0,1,0,0,0,0
2,4,9,2,9,2,2,0,0,0,0,1,0,0,0,0
3,4,9,2,9,2,2,0,0,0,0,1,0,0,0,0
4,4,9,2,9,2,2,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,4,9,2,9,5,2,0,0,0,0,0,0,0,1,0
10123,4,9,2,9,5,2,0,0,0,0,0,0,0,1,0
10124,4,9,2,9,5,2,0,0,0,0,0,0,0,1,0
10125,4,9,2,9,5,2,0,0,0,0,0,0,0,1,0
10126,4,9,2,9,5,2,0,0,0,0,0,0,0,1,0

In [31]:
df_encodeing.info

<bound method DataFrame.info of       wd_plnt_idntfr  object_class_lclas_code  object_class_mlsft_code  \
0                  2                        1                        2
1                  2                        1                        2
2                  2                        1                        2
3                  2                        1                        2
4                  2                        1                        2
...              ...                      ...                      ...
9461               9                        2                        9
9462               9                        2                        9
9463               9                        2                        9
9464               9                        2                        9
9465               9                        2                        9

      object_class_sclas_code  woody_herbal  region_nm_농산물원종장  region_nm_동광리  \
0                           3             1                 0              0
1                           3             1                 0              0
2                           3             1                 0              0
3                           3             1                 0              0
4                           3             1                 0              0
...                       ...           ...               ...            ...
9461                        5             2                 0              0
9462                        5             2                 0              0
9463                        5             2                 0              0
9464                        5             2                 0              0
9465                        5             2                 0              0

      region_nm_만장굴  region_nm_무수천  region_nm_서귀포시 안덕면 서광리  ...  \
0                 0              0                       0  ...
1                 0              0                       0  ...
2                 0              0                       0  ...
3                 0              0                       0  ...
4                 0              0                       0  ...
...             ...            ...                     ...  ...
9461              0              0                       0  ...
9462              0              0                       0  ...
9463              0              0                       0  ...
9464              0              0                       0  ...
9465              0              0                       0  ...

      edible_part_잎  edible_part_잎, 열매  edible_part_잎, 줄기, 꽃, 씨앗  \
0                 0                  1                         0
1                 0                  1                         0
2                 0                  1                         0
3                 0                  1                         0
4                 0                  1                         0
...             ...                ...                       ...
9461              0                  0                         1
9462              0                  0                         1
9463              0                  0                         1
9464              0                  0                         1
9465              0                  0                         1

      acquisition_term_05월  acquisition_term_06월  acquisition_term_07월  \
0                        0                     1                     0
1                        0                     1                     0
2                        0                     0                     0
3                        0                     0                     0
4                        0                     0                     0
...                    ...                   ...                   ...
9461                     0                     0                     0
9462                     0                     0                     0
9463                     0                     0                     0
9464                     0                     0                     0
9465                     0                     0                     0

      acquisition_term_08월  acquisition_term_10월  acquisition_term_11월  \
0                        0                     0                     0
1                        0                     0                     0
2                        1                     0                     0
3                        1                     0                     0
4                        1                     0                     0
...                    ...                   ...                   ...
9461                     0                     1                     0
9462                     0                     1                     0
9463                     0                     1                     0
9464                     0                     1                     0
9465                     0                     1                     0

      acquisition_term_12월
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
9461                     0
9462                     0
9463                     0
9464                     0
9465                     0

[9466 rows x 22716 columns]>

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
df['wd_plnt_nm']

0        메밀
1        메밀
2        메밀
3        메밀
4        메밀
         ..
10122    메밀
10123    메밀
10124    메밀
10125    메밀
10126    메밀
Name: wd_plnt_nm, Length: 10127, dtype: object

In [15]:
df['wd_plnt_nm']=df['wd_plnt_nm'].astype('category').cat.codes

In [16]:
df['wd_plnt_nm'].value_counts()

6     1159
14    1133
4     1089
9      591
8      572
2      568
11     567
13     567
1      565
5      564
3      563
7      559
0      547
12     543
10     540
Name: wd_plnt_nm, dtype: int64

In [ ]:
# del df['object_class_mlsft_nm']

In [91]:
df.iloc[:,1:]

,wd_plnt_idntfr,region_nm,region_type,plant_part,image_potogrf_dt,object_class_lclas_code,object_class_mlsft_code,object_class_sclas_code,object_class_sclas_nm,pyn_xcrdnt,pyn_ycrdnt,wd_plnt_nm.1,scientific_nm,woody_herbal,edible_yn,edible_part,acquisition_term
0,2,제주시 오등동,평지,열매,2021-06-02 19:40:53,1,2,3,열매,"733,744,754,765,774,774,774,771,769,765,760,75...","436,463,478,496,505,521,539,557,579,603,621,63...",좁은잎천선과,Ficus erecta var.sieboldii (Miq.) King,1,Y,"잎, 열매",06월
1,2,한라산 어리목 주차장,경사지,열매,2021-06-03 11:33:29,1,2,3,열매,"319,298,279,265,245,231,220,209,196,174,161,15...","124,118,116,119,124,129,134,141,147,169,190,20...",좁은잎천선과,Ficus erecta var.sieboldii (Miq.) King,1,Y,"잎, 열매",06월
2,2,제주특별자치도 제주시 오등동,경사지,열매,2021-08-05 13:33:56,1,2,3,열매,"158,143,130,121,112,102,92,84,80,75,73,72,73,7...","101,106,113,120,126,134,146,156,165,178,194,20...",좁은잎천선과,Ficus erecta var.sieboldii (Miq.) King,1,Y,"잎, 열매",08월
3,2,제주특별자치도 제주시 오등동,경사지,열매,2021-08-05 13:33:56,1,2,3,열매,"110,97,84,76,68,59,55,53,55,61,68,77,86,101,11...","85,93,105,115,127,145,161,177,197,217,233,245,...",좁은잎천선과,Ficus erecta var.sieboldii (Miq.) King,1,Y,"잎, 열매",08월
4,2,제주특별자치도 제주시 오등동,경사지,열매,2021-08-05 13:33:35,1,2,3,열매,"110,96,84,71,62,51,42,38,37,37,41,48,58,71,81,...","58,65,73,84,96,112,131,148,164,179,201,218,237...",좁은잎천선과,Ficus erecta var.sieboldii (Miq.) King,1,Y,"잎, 열매",08월
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9461,9,성산,평지,잎-뒷면,2021-10-31 17:14:47,2,9,5,잎-뒷면,"391,423,470,537,582,619,608,622,638,637,568,55...","1028,1033,1008,984,950,901,921,921,912,921,100...",메밀,Fagopyrum esculentum,2,Y,"잎, 줄기, 꽃, 씨앗",10월
9462,9,성산,평지,잎-뒷면,2021-10-31 17:14:41,2,9,5,잎-뒷면,"587,578,598,589,574,546,503,477,411,292,256,23...","718,724,739,742,739,735,718,714,716,757,757,78...",메밀,Fagopyrum esculentum,2,Y,"잎, 줄기, 꽃, 씨앗",10월
9463,9,성산,평지,잎-뒷면,2021-10-31 17:14:36,2,9,5,잎-뒷면,"615,561,529,477,423,374,306,262,252,260,281,31...","776,764,743,737,739,751,760,778,797,828,851,86...",메밀,Fagopyrum esculentum,2,Y,"잎, 줄기, 꽃, 씨앗",10월
9464,9,성산,평지,잎-뒷면,2021-10-31 17:14:18,2,9,5,잎-뒷면,"636,629,644,636,594,563,510,460,396,307,287,28...","747,749,770,770,757,737,720,724,734,741,755,77...",메밀,Fagopyrum esculentum,2,Y,"잎, 줄기, 꽃, 씨앗",10월
9465,9,성산,평지,잎-뒷면,2021-10-31 17:14:10,2,9,5,잎-뒷면,"577,570,582,572,543,490,455,406,376,296,265,24...","598,603,623,625,610,575,565,554,558,563,556,56...",메밀,Fagopyrum esculentum,2,Y,"잎, 줄기, 꽃, 씨앗",10월

In [48]:
resl= df.iloc[:,0]

0       좁은잎천선과
1       좁은잎천선과
2       좁은잎천선과
3       좁은잎천선과
4       좁은잎천선과
         ...
9461        메밀
9462        메밀
9463        메밀
9464        메밀
9465        메밀
Name: wd_plnt_nm, Length: 9466, dtype: category
Categories (13, object): ['구실잣밤나무', '까마귀쪽나무', '돈나무', '메밀', ..., '참식나무', '큰조롱', '해국', '황근']

In [ ]:
le.n_features_in_()

In [162]:
a=list(df.iloc[:,[0]].value_counts().keys())

In [1]:
str(a[0])

NameError: name 'a' is not defined

In [128]:
dict(df.wd_plnt_nm.value_counts()).keys()
dict(df.region_nm.value_counts()).keys()

dict_keys(['한라수목원', '농산물원종장', '제주대학교', '제주특별자치도 제주시 노형동', '만장굴', '성산', '판포리', '제주특별자치도 제주시 오등동', '제주특별자치도 제주시 용담동', '동광리', '연동', '용담해안도로', '무수천', '한라생태숲', '제주특별자치도 서귀포시 성산읍', '제주특별자치도 제주시 조천읍', '제주특별자치도 제주시 영평동', '서귀포시 안덕면 서광리', '한라수목원 자연생태학습관', '첨단입구 교차로', '제주대 공과대학3호관', '제주시 아라일동', '월정투명카약주차장', '제주특별자치도 제주시 구좌읍 월정리', '한라산 어리목 주차장', '제주시 오등동', '한라생태숲 목련총림', '안덕계곡', '휘닉스'])

In [26]:
dict(df.region_type.value_counts()).keys()

dict_keys([40, 46, 9, 41, 43, 160, 22, 48, 1, 153, 20, 2, 11, 51, 4])

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [117]:
encoder = LabelEncoder()

In [97]:
import seaborn as sns

In [108]:
df1.iloc[0:,1:].shape,
type(df.index)

pandas.core.indexes.range.RangeIndex

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(
    df.iloc[:,1:],df['wd_plnt_nm']
)
X_train.shape,y_train.shape
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train,y_train)

SVC()

,wd_plnt_idntfr,region_nm,region_type,plant_part,image_potogrf_dt,object_class_lclas_code,object_class_mlsft_code,object_class_sclas_code,object_class_sclas_nm,pyn_xcrdnt,pyn_ycrdnt,wd_plnt_nm.1,scientific_nm,woody_herbal,edible_yn,edible_part,acquisition_term
4131,1,1,1,3,1,0,0,0,0,0,0,0,0,0,0,0,0
4518,2,1,2,3,1,0,0,0,0,0,0,0,0,0,0,0,0
9189,9,2,9,5,2,0,0,0,0,0,1,0,0,0,0,0,0
1291,9,2,9,2,2,0,1,0,0,0,0,0,0,0,0,0,0
1623,9,2,9,2,2,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3826,48,2,48,2,2,0,0,0,0,0,0,0,0,0,0,0,0
6547,40,1,40,3,1,0,0,0,0,0,0,0,0,0,0,0,0
1626,9,2,9,2,2,0,1,0,0,0,0,0,0,0,0,0,0
5975,20,1,20,3,1,0,0,0,0,0,0,0,0,0,0,0,1
8512,4,1,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0

In [111]:
df
# 폴리곤 x 와 y는 숫자로 바꿔서 치환하고, 날짜도 정수로 바꿔서 치환하고 ,

,wd_plnt_nm,wd_plnt_idntfr,region_nm,region_type,plant_part,image_potogrf_dt,object_class_lclas_code,object_class_mlsft_code,object_class_sclas_code,object_class_sclas_nm,pyn_xcrdnt,pyn_ycrdnt,wd_plnt_nm.1,scientific_nm,woody_herbal,edible_yn,edible_part,acquisition_term
0,6,2,1,2,3,1,0,0,0,0,0,0,0,0,0,0,0,0
1,6,2,1,2,3,1,0,0,0,0,0,0,0,0,0,0,0,0
2,6,2,1,2,3,1,0,0,0,0,0,0,0,0,0,0,0,0
3,6,2,1,2,3,1,0,0,0,0,0,0,0,0,0,0,0,0
4,6,2,1,2,3,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9461,3,9,2,9,5,2,0,0,0,0,0,1,0,0,0,0,0,0
9462,3,9,2,9,5,2,0,0,0,0,0,1,0,0,0,0,0,0
9463,3,9,2,9,5,2,0,0,0,0,0,1,0,0,0,0,0,0
9464,3,9,2,9,5,2,0,0,0,0,0,1,0,0,0,0,0,0
9465,3,9,2,9,5,2,0,0,0,0,0,1,0,0,0,0,0,0

In [106]:
y_test

98       6
5360     0
8925     9
7814    12
7530    12
        ..
7516    12
5530     0
8141     4
9023     3
6637     5
Name: wd_plnt_nm, Length: 2367, dtype: int8

In [110]:
y_train

4131     1
4518     6
9189     3
1291     3
1623     3
        ..
3826    11
6547     5
1626     3
5975     2
8512     9
Name: wd_plnt_nm, Length: 7099, dtype: int8

In [25]:
X_train

,wd_plnt_idntfr,region_nm,region_type,plant_part,object_class_lclas_code,object_class_mlsft_code,object_class_sclas_code,object_class_lclas_nm,object_class_sclas_nm,woody_herbal,edible_yn,edible_part,acquisition_term,efficacy
611,22,2,22,2,2,1,0,0,0,0,0,0,0,0
8523,160,1,160,3,1,0,0,0,0,0,0,0,0,0
8573,160,1,160,3,1,0,0,0,0,0,0,0,0,0
9214,4,1,4,4,1,0,0,0,0,0,0,0,0,0
3779,51,2,51,2,2,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8386,153,1,153,3,1,0,0,0,0,0,0,0,0,0
9319,4,1,4,4,1,0,0,0,0,0,0,0,0,0
9942,9,2,9,5,2,0,0,0,0,0,0,0,1,0
3230,48,2,48,2,2,0,0,0,0,0,0,0,0,0
416,9,2,9,2,2,0,1,0,0,0,0,0,0,0

In [24]:
y_train

611     11
8523     2
8573     2
9214    10
3779    12
        ..
8386     5
9319    10
9942     4
3230    13
416      4
Name: wd_plnt_nm, Length: 7595, dtype: int8

In [23]:
y_test

3542    12
9573    10
4105     1
7338     8
4164     1
        ..
5742     3
3896    12
9783     4
5039     7
4408     1
Name: wd_plnt_nm, Length: 2532, dtype: int8

In [21]:
svc.predict(X_test)

array([12, 10,  1, ...,  4,  1,  1], dtype=int8)

In [22]:
svc.score(X_test,y_test)

0.8795418641390206

In [ ]:
X_test

In [69]:
y_test

4166     1
3696    11
4654     6
6512     5
8668     9
        ..
6013     2
806      4
8148     4
9296     3
3968     1
Name: wd_plnt_nm, Length: 2367, dtype: int8

In [66]:
dtc.predict(X_test)[0]

1